<div class="container">
  <el-row class="box">
    <Breadcrumb levelTwo="用户管理" levelThree="用户列表"/>
  </el-row>
  <el-row class="box">
    <el-col :span="8">
      <el-input
        placeholder="请输入内容"
        class="input-with-select"
        v-model="query">
        <el-button
          slot="append"
          icon="el-icon-search"></el-button>
      </el-input>
    </el-col>
    <el-col :span="4" :offset="2">
      <el-button
        type="info"
        round
        @click="$refs.userAdd.userAddDialog = true">添加用户</el-button>
    </el-col>
  </el-row>
  <el-row class="box content">
    <el-card class="table">
      <el-table
        :data="userList"
        :border="true"
        v-loading="userListLoading"
        element-loading-text="用户列表正在加载"
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(0, 0, 0, 0.8)"
        min-height="100%"
        min-width="100%">
        <el-table-column
          type="index"
          label="#"
          width="50">
        </el-table-column>
        <el-table-column
          prop="username"
          label="用户名"
          width="100">
        </el-table-column>
        <el-table-column
          prop="role_name"
          label="角色名称"
          width="130">
        </el-table-column>
        <el-table-column
          prop="email"
          label="邮箱"
          width="180">
        </el-table-column>
        <el-table-column
          prop="mobile"
          label="电话"
          width="130">
        </el-table-column>
        <el-table-column
          label="状态"
          width="70">
          <template slot-scope="state">
            <el-switch
              :disabled="state.row.id === 500"
              :value="state.row.mg_state"
              @change="changeState(state.row.id, state.row.mg_state)"
              active-color="#13ce66"
              inactive-color="#ff4949">
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column
          label="操作"
          min-width="140">
          <template slot-scope="item">
            <el-tooltip class="item" effect="dark" content="编辑" placement="left">
              <el-button
                :disabled="item.row.id === 500"
                size="mini"
                type="primary"
                icon="el-icon-edit"
                circle
                @click="$refs.userEdit.showEditDialog(item.row.id)"></el-button>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="删除" placement="top">
              <el-button
                :disabled="item.row.id === 500"
                size="mini"
                type="danger"
                icon="el-icon-delete"
                circle
                @click="userDestroy(item.row.id, item.row.username)"></el-button>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="分配角色" placement="right">
              <el-button
                :disabled="item.row.id === 500"
                size="mini"
                type="success"
                icon="el-icon-check"
                circle
                @click="$refs.userRole.showRoleDialog(item.row.id, item.row.username, item.row.role_name)"></el-button>
            </el-tooltip>
          </template>
        </el-table-column>
      </el-table>
    </el-card>
    <el-row class="pagination">
      <Pagination
        :total="total"
        @pageChange="page => userListInfo.pagenum = page"
        @sizeChange="size => userListInfo.pagesize = size"/>
    </el-row>
  </el-row>

  <!-- 添加用户信息 -->
  <user-add
    ref="userAdd"
    @add-success="getUserList"/>
  <!-- 编辑用户信息 -->
  <user-edit
    ref="userEdit"
    @edit-success="getUserList"/>
  <!-- 分配用户角色 -->
  <user-role
    ref="userRole"
    @role-success="getUserList"/>
</div>
