* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

a, img {
  width: 100%;
  height: 100%;
  display: block;
}

.el-row.box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 8px 8px 8px 0px #333;
}

.el-row.box:last-child {
  margin-bottom: 0px;
}
