<el-container>
  <el-aside :width="isCollapse ? '65px' : '230px'">
    <div class="logo">
      <a href="#/home">
        <img v-show="!isCollapse" src="@/assets/images/hmweb.jpg" alt="">
        <img v-show="isCollapse" src="@/assets/images/hmweb_mini.jpeg" alt="">
      </a>
    </div>
    <Aside :isCollapse="isCollapse" :routePath="routePath"/>
  </el-aside>
  <el-container class="container">
    <el-header>
      <Header @collapse="collapse"/>
    </el-header>
    <el-main>
      <router-view></router-view>
    </el-main>
  </el-container>
</el-container>
